<!DOCTYPE html>
<html lang="en">
<head>
<title>Cole's Grooming</title>
<meta charset="utf-8">
<style>
    body{
        background: rgba(0, 225, 255, 0.29)
        url("images/doggy_bath.jpg") no-repeat right top;
        width: 600px;
        height: 600px;}
    h1 {
        color: blue;}
    p {
        color: red;
        font: message-box;
        border-color: black;
        text-indent: 30px;}
    header{
        font-family: "Comic Sans MS",Sana;
    }

</style>
</head>
<body>

<h1>Cole's Pet Grooming</h1>
<h2>Where Grrrrooming is our purpose</h2>
<header>
  <h2>Services</h2>
</header>


    <ul>
        <h3>
            <li><a href="index.html">Grrooming</a></li>
            <li><a href="Doggie_feet.html">Doggy Man-E Pet-E</a></li>
            <li><a href="dog_bone.html">Give a Dog a Bone</a></li>
        </h3>
    </ul>
<header>
  <h2 style='font-family:"Courier New",san-serif'>Wet And Wild Wash</h2>
</header>
<p>Cole's Grooming cares more about your baby's skin and not stressing them out. The well-being of your baby </p>
<p>is our top priority. We offer full services just like in a pet salon, but in the convenience of your</p>
<p> own home or office. Where you and your baby become part of our family.</p>



</body>
</html>


