<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cole's Grooming</title>
    <meta charset="utf-8">
<style>
    body{
        background: rgba(0, 225, 255, 0.29)
        url("images/treats.jpg") no-repeat right top;
        width: 600px;
        height: 600px;}
    h1 {
        color: blue;}
    p {
        color: red;
        font: message-box;
        border-color: black;
        text-indent: 30px;}
    header{
        font-family: "Comic Sans MS",Sana;
    }

</style>
</head>
<body>
<h1>Cole's Pet Grooming</h1>
<h2>Where Grrrrooming is our purpose</h2>
<header>
  <h2>Services</h2>
</header>

<ul>
    <h3>
        <li><a href="index.html">Grrrrooming</a></li>
        <li><a href="bath.html">Wet And Wild Wash</a></li>
        <li><a href="Doggie_feet.html">Doggy Man-E Pet-E</a></li>
    </h3>
</ul>
<header>
    <h2>Give a Dog a Bone</h2>
</header>
<h2>Healthy Provisions for Pets</h2>
<p>Carefully selected healthy food for your pets including dry, canned, grain free, organic and raw.</p>
<p>Chewing and fetching toys for dogs, feathers and catnip for cats, beds for comfy naps and treats</p>
<p>for all of your furry friends. Much too many products to list here, so contact us or stop by and visit.</p>



</body>
</html>


