<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cole's Grooming</title>
    <meta charset="utf-8">

</head>
<body>

<h1>Cole's Pet Grooming</h1>
<h2>Where Grrrrooming is our purpose</h2>
<header>
  <h2>Services</h2>
</header>

<ul>
    <h3>
        <li><a href="index.html">Grrrrooming</a></li>
        <li><a href="bath.html">Wet And Wild Wash</a></li>
        <li><a href="dog_bone.html">Give a Dog a Bone</a></li>
    </h3>
</ul>
<header>
    <h2>Doggy Man-E Pet-E</h2>
</header>
<h2>Importance of nail trimming</h2>
<p>While humans may appreciate a routine mani/pedi, it’s common for dogs not to love the experience</p>
<p>of having their nails cut. This may lead you to wonder how necessary it is to keep your pup’s nails</p>
<p>nice and trim. However, keeping your dog’s nails at an appropriate length isn’t all about looks, it can</p>
<p>actually affect their overall health and comfort. </p>




</body>
</html>


