<!DOCTYPE html>
<html lang="en">
<head>
<title>Cole's Grooming</title>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="pagelayout.css"/>

</head>
<body>
<h1>Cole's Pet Grooming</h1>
<h2>Where Grrrrooming is our purpose</h2>

<header>
  <h2>Services</h2>
</header>
    <ul>
        <h3>
            <li><a href="bath.html">Wet and Wild Wash</a></li>
            <li><a href="Doggie_feet.html">Doggy Man-E Pet-E</a></li>
            <li><a href="dog_bone.html">Give a Dog a Bone</a></li>
        </h3>
    </ul>

    <h1>Grrooming</h1>
<h2>Breed-specific Haircuts</h2>
    <p class="right">
        Regular grooming is essential to your pet's health as it helps prevent skin issues such as matting.
        We can bathe, clip, cut & grind nails, and scissor providing a full service grooming on many animals for $70.
        However, if the animal is difficult to handle, aggressive, very matted, extra long fur, or needs specialized
        grooming we will provide exact pricing once a pet owner arrives. In addition we do not require vaccination or
        any other records in order to groom your pet!</p>




</body>
</html>


