<!DOCTYPE html>
<html lang="en">
<head>
<title>Cole's Grooming</title>
<meta charset="utf-8">

<style>
    body{
        background: rgba(0, 225, 255, 0.29)
        url("images/dog_barber.jpg") no-repeat right top;
        width: 600px;
        height: 600px;}
    h1 {
        color: blue;}
    p {
        color: red;
        font: message-box;
        border-color: black;
        text-indent: 30px;}
    header{
        font-family: "Comic Sans MS",Sana;
    }

</style>

</head>
<body>


<h1 style='font-family:"Comic Sans MS",serif' >Cole's Pet Grooming</h1>
<h2 style='font-family:"Courier New",serif'>Where Grrrrooming is our purpose</h2>

<header>
  <h2 style='font-family:"Courier New",serif'>Services</h2>
</header>
    <ul>
        <h3>
            <li><a href="bath.html">Wet and Wild Wash</a></li>
            <li><a href="Doggie_feet.html">Doggy Man-E Pet-E</a></li>
            <li><a href="dog_bone.html">Give a Dog a Bone</a></li>
        </h3>
    </ul>

    <h1 style='font-family:"Courier New",san-serif'>Grrrooming</h1>
<h2>Breed-specific Haircuts</h2>
    <p>
        Regular grooming is essential to your pet's health as it helps prevent skin issues such as matting.
        We can bathe, clip, cut & grind nails, and scissor providing a full service grooming on many animals for $70.
        However, if the animal is difficult to handle, aggressive, very matted, extra long fur, or needs specialized
        grooming we will provide exact pricing once a pet owner arrives. In addition we do not require vaccination or
        any other records in order to groom your pet!</p>




</body>
</html>


